.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 120px;
  border-radius: 25px !important;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 25px !important;
}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
  transition: 0.4s;
  border-radius: 25px !important;
}

.slider2 {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #34333f;
  transition: 0.4s;
  border-radius: 25px !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  left: 10px;
  bottom: 20px;
  background-color: #8963da;
  transition: 0.4s;
  border-radius: 25px !important;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  left: 10px;
  bottom: 20px;
  background-color: #8963da;
  transition: 0.4s;
  border-radius: 25px !important;
}

.Black:checked + .slider {
  background-color: #34333f;
}

.White:checked + .slider {
  background-color: white;
}

.Black:checked + .slider2 {
  background-color: #34333f;
}

.White:checked + .slider2 {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(150px);
}

input:checked + .slider2:before {
  transform: translateX(150px);
}
